---

const rights = "Jan Pasterzak. All rights reserved.";
const year = new Date().getFullYear();
const copyrights = `${year} ${rights}`;

---
<footer>
    <p>&copy; {copyrights}</p>
</footer>

<style>
    footer{
        padding: 1rem;
        text-align: center;
    }
</style>